.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

mat-card {
  width: 400px;
  padding: 2rem;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}
